@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  background-color: #28223F;
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 50px;
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
  font-size: 1rem;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-size: 1rem;
}

header {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 1000;

  a {
    color: #03bfcb;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: #02899c;
    }
  }
}

header.scroll-down {
  transform: translateY(-100%);
}

.searchContainer {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  padding: 10px;
  border: 1px solid #03bfcb;
  border-radius: 5px;
  margin-right: 5px;
  font-family: Montserrat, sans-serif;
}

.searchButton {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 5px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
}

.cardContainer {
  padding: 30px;
  background-color: #231E39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 8%;
  margin-top: 60px;
  z-index: 1;
}

.cardContainer .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.followInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.followInfo div {
  text-align: center;
}

.profileButton {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #03bfcb;
  color: #03bfcb;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  cursor: pointer;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.repositories {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
  overflow-y: auto;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    border: 1px solid #2d2747;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul li a {
    color: #03bfcb;
    text-decoration: none;
    font-weight: bold;
  }

  ul li span.repo-info {
    display: flex;
    align-items: center;
  }

  ul li span.repo-info i {
    color: #feca57;
    margin-right: 5px;
    font-size: 14px;
  }
}

.noDataMessage {
  color: #fff;
  font-size: 16px;
}

.noDataMessageContainer {
  margin-top: 16px;
  padding-bottom: 2px;
}

.spinner::after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px !important;
  height: 70px !important;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

.scroll-down {
  transform: translateY(-100%);
}

@media (max-width: 600px) {
  .cardContainer {
    width: 80%;
  }
}